@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    font-family: Play;
}

body {
    background-color: #202c39;
    margin: 0 auto;
    padding: 15px;

}

.janela {
    display: flex;
    margin-left: 4%;
    width: 100vw;
}

.header-left a {
    text-decoration: none;
    color: white;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid rgb(207, 119, 38);
    background-color: #212124;
}

.header-left h1 {
    color: #68543e;
}

.hello {
    width: 100%;
    display: flex;
    justify-content: center;
}

.userimg {

    width: 92px;
    height: 92px;
    left: 103px;
    top: 135px;

}

.hello h3 {
    color: #e3b062;
    font-weight: 300;
    font-size: 1.2rem;
}

.hello h3 span {
    font-weight: 800;
}

.btn-nav {
    width: 40%;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
}

.btn-nav-white {
    text-align: center;
    width: 50%;
}

.header-left .img {

    margin-left: -100%;
    margin-bottom: -25%;
}

.btn-nav-white h3 {
    color: #CF7726;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.btn-nav h3,
.btn-logout h3 {
    margin: 0;
    padding: 0;
}

.btn-logout {
    margin-top: 100px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.janela {
    display: flex;
    width: 88vw;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
    margin-left: -15%;
}

.cards h2 {
    color: #cf7723;
    font-size: 40px;
    margin-left: -25%;
    position: absolute;
}

.cards h3 {
    color: #000000;
    font-size: 40px;
    margin-top: 8%;
    margin-left: -15%;
}

.cards-setor {
    margin-left: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 98.5%;
    align-items: center;
    color: white;
}

.cards-setor .container {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 80%;

}

.cards1,
.cards2,
.cards3,
.cards4,
.cards5,
.cards6,
.cards7,
.cards8 {
    margin: 2%;
    width: 30%;
    height: 50%;
    padding: 40px;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    height: 300px;
    justify-content: center;
    background-color: #47464650;
    font-size: 20px;
    border-radius: 2px;
}

.cards-setor img {
    margin-left: -60%;
}

.cards-setor ul {
    list-style: none;
    padding: 15px;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    margin-left: 15%;
    margin-top: -10%;

}

.cards-setor li {
    list-style: none;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    margin-left: 25%;
    margin-top: -10%;
}

.cards-setor p {
    padding: 15px;
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    margin-left: -12%;
    margin-top: -10%;
}

.cards-setor li {
    list-style: none;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    margin-left: 25%;
    margin-top: -10%;
}

.cards-setor p {
    padding: 15px;
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    margin-left: -12%;
    margin-top: -10%;
}

button:hover{
    cursor: pointer;
}

.cards-setor button {
    position: absolute;
    font-size: 22px;
    margin-top: -2.6%;
    margin-left: -15%;
    height: 150px;
    width: 200px;
    background-image: url(../assets/img/adoção1.jpg);
    background-size: cover;
}

.cards1 button {
    background-image: url(../assets/img/adoção1.jpg);
    background-size: cover;
}

.cards2 button {
    background-image: url(../assets/img/adoção2.jpg);
    background-size: cover;
}

.cards3 button {
    background-image: url(../assets/img/adoção3.jpg);
    background-size: cover;
    background-position: center;
}
.cards4 button {
    background-image: url(../assets/img/adoção4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cards5 button {
    background-image: url(../assets/img/adoção5.jpg);
    background-size: cover;
}
.cards6 button {
    background-image: url(../assets/img/adoção6.jpeg);
    background-size: cover;
}
.cards7 button {
    background-image: url(../assets/img/adoção7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cards8 button {
    background-image: url(../assets/img/adoção8.png);
    background-size: cover;
    background-repeat: no-repeat;
}
