/* .avisos h1 {
    margin-left: 50%;
}
.div-form {
    justify-content: space-around;
    margin-left: 40vh;
}
.avisos input {
    width: 50%;
}

 */
 .header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid rgb(207, 119, 38);
  background-color: #202c39;
}

.header-left h1 {
  color: #68543e;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userimg {

  width: 92px;
  height: 92px;
  left: 103px;
  top: 135px;

}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 45%;
  color: white;
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  text-align: center;
  width: 50%;
}

.header-left .img {

  margin-left: -100%;
  margin-bottom: -25%;
}

.btn-nav-white h3 {
  /* color: #000000; */
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.btn-nav h3 {
  margin: 0;
  padding: 0;
  background-color: #000000;
}
/* .btn-logout h3 {

} */

.btn-logout {
  margin-top: 100px;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;
}

 *,
body {
  font-family: "Exo 2", sans-serif;
  background-color: #202c39;
}

.avisoCaptura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
  background-color: #727272 ;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #CF7726;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #727272;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.janela {
    margin-left: 20%;
}
