* {
    padding: 0;
    margin: 0;
    color: #DDBF42;
    font-family: sans-serif ;
}

.header {
    position: absolute;
    width: 100%;
    height: 100 vh;
    left: 0px;
    top: -5px;
    background: #000000;
    /* padding: 15px;
    border-bottom: 3px solid #424444;
    background-color: rgb(75, 71, 71); */
}

.container {
    margin: 10px auto;
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
left: -10px;
}

h1 {
    color: #DDBF42;
    font-weight: 900;
}

ul {
    display: flex;
    width: 500px;
    justify-content:space-around;
    list-style: none;
}

li {
    color: #DDBF42;
    justify-content: space-between;
}

 body {
    background-image: linear-gradient( to right, rgb(249, 249, 249), rgb(126, 120, 120) );
    /* background: linear-gradient(#cf7723 #000000); */
 } 

.cadastro {
    width: 50vw;
    height: 80vh;
    background-image: linear-gradient( to right, rgba(103, 80, 51, 0.266), rgba(133, 110, 82, 0.621) );
    /* background-color:rgba(96, 104, 104, 0.107); */
    margin-top: 7%;
    margin-left: 5%;
    border-radius: 10px;
}

.inputs ul {
    list-style: none;
    /* padding: 15px; */
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    /* width: 100%; */
    margin-left: -15%;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.inputs ul li {
    list-style: none;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 10%;
}

.inputs ul li label {
    color: #000000;
}

.inputs ul li input {
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: Transparent;
}

.inputs2 ul {
    list-style: none;
    padding: 15px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-left: 25%;
    margin-top: -70%;
    flex-direction: column;
    justify-content: space-between;
    text-align:left;
}
.inputs2 ul li {
    list-style: none;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 10%;
}

.inputs2 ul li label {
    color: #000000;
}

.inputs2 ul li input {
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: Transparent;
}

.botao {
    margin-left: 35%;
    margin-top: -8%;
    text-align: center;
    background-color: rgba(133, 110, 82, 0.621) ;
    position: absolute;
    width: 150px;
    height: 70px;
    font-size:200%;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
}

.botao p {
    margin-left: -37%;
    margin-top: -8%;
    text-align: center;
    position: absolute;
    font-size:200%;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    color: #000000;
}

.imagem {
    position: absolute;
    width: 30%;
    margin-left: 63%;
    margin-top: -37%;
}