* {
    padding: 0;
    margin: 0;
    color: #DDBF42;
    font-family: sans-serif ;
}

.header {
    position: absolute;
    width: 100%;
    height: 100 vh;
    left: 0px;
    top: -5px;
    background: #000000;
    /* padding: 15px;
    border-bottom: 3px solid #424444;
    background-color: rgb(75, 71, 71); */
}

.container {
    margin: 10px auto;
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
left: -10px;
}

h1 {
    color: #DDBF42;
    font-weight: 900;
}

ul {
    display: flex;
    width: 500px;
    justify-content:space-around;
    list-style: none;
}

li {
    color: #DDBF42;
    justify-content: space-between;
}

.login {
    position: absolute;
    width: 92.6vw;
    height: 100px;
    left: 0px;
    top: 80px;
}

.texto p {
    position: absolute;
    top: 70%;
    left: 78%;
    font-size: 300%;
    font-family: 'Source Serif Pro';
    color: #ffffff;
}

.email label {
    color: #ffffff;
    margin: 15px 0;
    position: absolute;
    top: 260%;
    left: 79%;
    font-size: x-large;
    font-family: 'Source Serif Pro';
}

.email input {
    width: 230px;
    padding: 20px;
    border: 3px solid #cf7723;
    border-radius: 50px;
    position: absolute;
    top: 300%;
    left: 78%;
    cursor: pointer;    
    transition: .4s;
    background-color: rgba(0, 0, 0, 0.525);
}

.senha label {
    color: #ffffff;
    margin: 15px 0;
    position: absolute;
    top: 370%;
    left: 79%;
    font-size: x-large;
    font-family: 'Source Serif Pro';
}

.senha input {
    width: 230px;
    padding: 20px;
    border: 3px solid #cf7723;
    border-radius: 50px;
    position: absolute;
    top: 410%;
    left: 78%;
    cursor: pointer;    
    transition: .4s;
    background-color: rgba(0, 0, 0, 0.525);
}

.botao button {
    width: 150px;
    padding: 30px;
    border: 3px solid #cf7723;
    border-radius: 50px;
    position: absolute;
    top: 550%;
    left: 82.5%;
    cursor: pointer;    
    transition: .4s;
    background-color: rgba(0, 0, 0, 0.525);
}

.botao button p {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;*/
    top: 9%;
    left: 15%;
    /* cursor: pointer;    
    transition: .4s; */
    color: #ffffff;
}