*{
    margin: 0;
    padding: 0;
}

body {
    width: 130%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.slide{
    width: 300%;
    height: 576px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
}

.slides{
    width: 3120px;
}